<div class="pad">
  <% subjects = Array.new %>
  <%= render "searchbar", redirect: calendar_path %>
  <br>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <% @user_tasks.select { |user_task| user_task.planned_date == date }.each do |day_user_task| %>
      <% day_task = Task.find(day_user_task.task_id) %>
      <% subjects.push day_task.subject unless subjects.include? day_task.subject %>
      <%= link_to day_task do %>
        <div class="day-task planned" style="background: <%= day_task.subject_color %>;"></div>
      <% end %>
    <% end %>
    <% @tasks.where(:duedate => date.beginning_of_day..date.end_of_day).each do |day_task| %>
      <% subjects.push day_task.subject unless subjects.include? day_task.subject %>
      <%= link_to day_task do %>
        <div class="day-task" style="background: <%= day_task.subject_color %>;"></div>
      <% end %>
    <% end %>
    <% @exams.where(:duedate => date.beginning_of_day..date.end_of_day).each do |day_exam| %>
      <% subjects.push day_exam.subject unless subjects.include? day_exam.subject %>
      <%= link_to day_exam do %>
        <div class="day-task exam" style="border-color: <%= day_exam.subject_color %>;"></div>
      <% end %>
    <% end %>
  <% end %>
  <h3>Subject colors</h3>
  <table class="calendar_legend">
    <% subjects.each do |subject| %>
      <tr>
        <td>
          <div class="day-task" style="background: <%= subject.color %>;"></div>
        </td>
        <td><%= subject.name %></td>
      </tr>
    <% end %>
  </table>
  <h3>Symbols</h3>
  <table class="calendar_legend">
    <tr>
      <td>
        <div class="day-task planned" style="background: black;"></div>
      </td>
      <td>Task: Planned date</td>
    </tr>
    <tr>
      <td>
        <div class="day-task" style="background: black;"></div>
      </td>
      <td>Task: Due date</td>
    </tr>
    <tr>
      <td>
        <div class="day-task exam" style="border-color: black;"></div>
      </td>
      <td>Exam: Date</td>
    </tr>
  </table>
</div>
