<% @page_title = "Edit User Task" %>
<% user_task = current_user.user_tasks.find_by(task_id: @task.id) %>

<div class="pad">
  <%= form_with(model: user_task, url: update_user_task_path) do |form| %>
    <% if user_task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user_task.errors.count, "error") %> prohibited this user task from being saved:</h2>

        <ul>
          <% user_task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :personal_notes %>
    <span><em>Edit your personal notes for this task here.</em></span>
    <div class="description-editor">
      <%= form.rich_text_area :personal_notes %>
    </div>

    <% if !@task.is_exam %>
      <%= form.label :planned_date %>
      <span><em>This is the day you plan to do this task (optional). If you set it, this date affects the priority of your tasks on the main screen.</em></span>
      <div>
        <%= form.date_field :planned_date, :include_blank => true, :placeholder => "yyyy-mm-dd" %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Update", class: "btn hoverable" %>
      <%= link_to 'Cancel', @task, class: "btn hoverable" %>
    </div>
  <% end %>
</div>
