<div class="pad">
  <% if current_user.teams.size == 0 && current_user.tasks.size == 0 %>
    <%= render "welcome" %>
  <% else %>
    <%= render "searchbar", redirect: tasks_path %>
    <% if @user_tasks.size == 0 %>
      <% if !current_user.user_tasks.filter_by_status(nil).any? %>
        <%= render "celebrate" %>
      <% else %>
        <p>Filter didn't find any entries.</p>
        <%= link_to "Reset Filters", "/filter-reset?redirect=" + tasks_path, class: "btn hoverable block" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% @page_title = "Tasks" %>

<% @user_tasks.each do |user_task|
  task = user_task.task
  status_prev = user_task.status_name(user_task.status_prev)
  status_current = user_task.status_name
  status_next = user_task.status_name(user_task.status_next)
  %>
<div class="task">
  <%= link_to '/change_status/' + user_task.id.to_s + "/prev", class: "btn slide left " + status_prev do end %>
  <section class="task-content <%= status_current %>">
    <%= link_to task do %>
      <div class="top">
        <div style="color: <%= task.subject_color %>" class="subject"><%= task.subject_name %></div>
        <button class="btn status <%= status_current %>"><%= status_current %></button>
      </div>
      <h4><%= task.name %></h4>
      <div class="bottom">
        <div class="icons">
          <% if(task.weblinks.count > 0) %>
            <%= image_tag("icons/icon-weblink.svg", alt: "Weblink(s) available") %>
          <% end %>
          <% if(task.groupwork?) %>
            <%= image_tag("icons/icon-group.svg", alt: "Working in a group") %>
          <% end %>
          <% if(task.attachments.count > 0) %>
            <%= image_tag("icons/icon-attachment.svg", alt: "Attachment(s) available") %>
          <% end %>
        </div>
        <div class="dates">
          <% if user_task.planned_date? %>
            <div><%= user_task.formatted_planned_date(false) %>
              <span>(PLAN)</span>
            </div>
          <% end %>
          <% one_day = 24 * 60 * 60 %>
          <div class="duedate <%= "urgent" if (task.duedate - one_day) < DateTime.now %> <%= "overdue" if task.duedate < DateTime.now %>">
            <%= task.formatted_duedate(false) %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <%= link_to '/change_status/' + user_task.id.to_s + "/next", class: "btn slide right " + status_next do end %>
</div>
<% end %>
