<div class="pad form">

  <% @page_title = @task.name + (@task.is_exam ? " [Exam]" : " [Task]") %>
  <% user_task = current_user.user_tasks.find_by(task_id: @task.id) %>

  <h4>
    <% if current_user.task_admin?(@task) %>
      <%= link_to edit_task_path(@task) do %><%= image_tag("icons/icon-edit.svg", alt: "edit task") %><% end %>
    <% end %>
    <%= @task.name %>
    <% if current_user.task_admin?(@task) %>
      <%= link_to @task, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag("icons/icon-delete.svg", alt: "delete task") %><% end %>
    <% end %>
  </h4>

  <div>
    <div style="color: <%= @task.subject_color %>" class="subject">
      <%= @task.subject_name %>
    </div>
    <span>in team <strong><%= @task.subject_team_name %></strong></span>
  </div>

  <% if !@task.is_exam %>
    <div>
      <h5>Current status</h5>
      <% status_names = ["todo", "doing", "done"] %>
      <% status_names.each do |status_name| %>
        <% inactive = status_name == user_task.status_name ? "" : " inactive" %>
        <%= link_to '/change_status/' + user_task.id.to_s + "/" + status_name, class: "btn status " + status_name + inactive do status_name end %>
      <% end %>
    </div>
  <% end %>

  <div>
    <h5><%= @task.is_exam ? "Exam Date" : "Due Date" %></h5>
    <%= @task.formatted_duedate(true) %>
  </div>

  <% if !@task.is_exam %>
    <div>
      <h5>Type of assignment</h5>
      <%= @task.worktype_name %>
    </div>
  <% end %>

  <div>
    <h5>Description</h5>
    <%= @task.description %>
  </div>

  <% if(@task.attachments.any?) %>
    <div>
      <h5>Attachments</h5>
      <% @task.attachments.each do |attachment| %>
        <div>
          <%= image_tag("icons/icon-attachment.svg", alt: "Attachment " + attachment.filename.to_s) %>
          <%= link_to attachment.filename.to_s, url_for(attachment), target: "_blank" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if(@task.weblinks.any?) %>
    <div>
      <h5>Links</h5>
      <% @task.weblinks.each do |link| %>
        <div>
          <%= image_tag("icons/icon-weblink.svg", alt: "Weblink to " + link.name) %>
          <%= link_to link.name, link.url, target: "_blank" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <h4>
    <%= link_to edit_user_task_path(@task) do %><%= image_tag("icons/icon-edit.svg", alt: "edit user task notes") %><% end %>
    Personal information
  </h4>

  <% if(user_task.personal_notes?) %>
    <div>
      <h5>Notes</h5>
      <%= user_task.personal_notes %>
    </div>
  <% end %>

  <% if(user_task.planned_date?) %>
    <div>
      <h5>Planned Date</h5>
      <%= user_task.formatted_planned_date(true) %>
    </div>
  <% end %>

  <%= link_to 'Back', @task.is_exam ? exams_path : tasks_path, class: "btn hoverable" %>
</div>
