.simple-calendar {
    width: 100%;

    table {
        th {
            text-align: center;
        }

        .day {
            text-align: center;
            height: auto;
        }
    }

    .calendar-heading {
        display: flex;
        justify-content: space-between;
    }
}

.calendar_legend td {
    padding-right: 0.5rem;
}

.day-task {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0.5rem auto;

    &.planned {
        width: 0.5rem;
        height: 0.5rem;
    }

    &.exam {
        background-color: white;
        border-width: 2px;
        border-style: solid;
    }
}
