// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "../abstracts/fonts";
@import "../abstracts/variables";

form,
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    > * {
        margin-top: 1rem;
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: 0;
        + div {
            margin-top: 0;
        }
    }

    input,
    select {
        padding: 1rem;
        font-family: $roboto;

        &[type="checkbox"] {
            width: max-content;
        }
    }

    .label-checkbox {
        font-size: 1rem;
    }

    .nesting {
        .add-nesting {
            display: flex;
            flex-direction: row;
        }

        .nested-fields {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.5rem;

            .multiple-fields {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            input {
                flex: 1;
            }

            a.hide {
                visibility: hidden;
            }
        }
    }

    table {
        #col-email {
            width: 100%;
        }

        .stretch {
            display: flex;
            width: 100%;
        }
        input {
            width: 100%;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > * {
            flex: 1;
            margin: 0 0.5rem;
        }
    }
}

.show-icon {
    display: flex;
    margin-right: 0.5rem;
}

.small-padding {
    padding: 0.5rem;
}

.color-field {
    padding: 0.5rem;
    max-width: 1rem;
    margin-left: 1rem;
}

#form-subscribe {
    > * {
        margin: 0.5rem 0;
    }
}

.filter-duedate {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
        margin: 0;
        width: 100%;
    }
}
