// -----------------------------------------------------------------------------
// This file contains all styles related to the task component.
// -----------------------------------------------------------------------------
@import "../abstracts/fonts";
@import "../abstracts/variables";

.subject {
    font-family: $roboto;
    font-weight: bold;

    @media screen and (max-width: $mobile-screen) {
        font-size: 0.8rem;
    }

    text-transform: uppercase;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 0.25rem 0;
    width: 100%;
    max-width: $tablet-screen;

    a {
        text-decoration: none;
    }

    .task-content {
        min-width: 0;
        width: 100%;
        padding: 0.75rem;
        background-color: $color-background-tasks;
        font-family: $roboto;
        border: 1px solid rgba(0, 0, 0, 0.25);

        .dates {
            .duedate {
                &.urgent {
                    color: orange;
                }

                &.overdue {
                    color: red;
                }
            }

            span {
                font-size: 0.75em;
                font-weight: bold;
            }

            text-align: right;
            font-weight: lighter;
            font-style: italic;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .icons > img {
            margin-right: 0.5rem;
        }

        @media screen and (max-width: $tablet-screen) {
            h4 {
                font-size: 1.3rem;
                margin: 0.5rem 0;
            }
        }

        .top,
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 1;
        }

        &.todo {
            background-color: lighten($color-status-todo, 55);
        }
        &.doing {
            background-color: lighten($color-status-doing, 55);
        }
        &.done {
            background-color: lighten($color-status-done, 55);
            h4 {
                text-decoration: line-through;
            }
        }
    }
}
